Laboratorio/LabWeb/LabWeb/src/conf/xml-resources/web-service-references/publicador/wsdl/localhost_9128/publicador.xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://PRESENTACION/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://PRESENTACION/">

<xs:element name="ParseException" type="tns:ParseException"></xs:element>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"></xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hashSet">
<xs:complexContent>
<xs:extension base="tns:abstractSet">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractSet" abstract="true">
<xs:complexContent>
<xs:extension base="tns:abstractCollection">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractCollection" abstract="true">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>