Laboratorio/LabWeb/LabWeb/src/conf/xml-resources/web-service-references/publicador/wsdl/localhost_9128/publicador.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://PRESENTACION/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://PRESENTACION/" name="PublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://PRESENTACION/" schemaLocation="http://localhost:9128/publicador?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="listarInstitutos">
<part name="parameters" element="tns:listarInstitutos"></part>
</message>
<message name="listarInstitutosResponse">
<part name="parameters" element="tns:listarInstitutosResponse"></part>
</message>
<message name="cursosInstituto">
<part name="parameters" element="tns:cursosInstituto"></part>
</message>
<message name="cursosInstitutoResponse">
<part name="parameters" element="tns:cursosInstitutoResponse"></part>
</message>
<message name="EdicionesCurso">
<part name="parameters" element="tns:EdicionesCurso"></part>
</message>
<message name="EdicionesCursoResponse">
<part name="parameters" element="tns:EdicionesCursoResponse"></part>
</message>
<message name="registrarCurso">
<part name="parameters" element="tns:registrarCurso"></part>
</message>
<message name="registrarCursoResponse">
<part name="parameters" element="tns:registrarCursoResponse"></part>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"></part>
</message>
<message name="obtenerUsuario">
<part name="parameters" element="tns:obtenerUsuario"></part>
</message>
<message name="obtenerUsuarioResponse">
<part name="parameters" element="tns:obtenerUsuarioResponse"></part>
</message>
<message name="chekusuario">
<part name="parameters" element="tns:chekusuario"></part>
</message>
<message name="chekusuarioResponse">
<part name="parameters" element="tns:chekusuarioResponse"></part>
</message>
<message name="obtenerPrograma">
<part name="parameters" element="tns:obtenerPrograma"></part>
</message>
<message name="obtenerProgramaResponse">
<part name="parameters" element="tns:obtenerProgramaResponse"></part>
</message>
<message name="checkCurso">
<part name="parameters" element="tns:checkCurso"></part>
</message>
<message name="checkCursoResponse">
<part name="parameters" element="tns:checkCursoResponse"></part>
</message>
<message name="altaEdicionCurso">
<part name="parameters" element="tns:altaEdicionCurso"></part>
</message>
<message name="altaEdicionCursoResponse">
<part name="parameters" element="tns:altaEdicionCursoResponse"></part>
</message>
<message name="cursoEdicion">
<part name="parameters" element="tns:cursoEdicion"></part>
</message>
<message name="cursoEdicionResponse">
<part name="parameters" element="tns:cursoEdicionResponse"></part>
</message>
<message name="checkPrograma">
<part name="parameters" element="tns:checkPrograma"></part>
</message>
<message name="checkProgramaResponse">
<part name="parameters" element="tns:checkProgramaResponse"></part>
</message>
<message name="altaInstituto">
<part name="parameters" element="tns:altaInstituto"></part>
</message>
<message name="altaInstitutoResponse">
<part name="parameters" element="tns:altaInstitutoResponse"></part>
</message>
<message name="ProgramasCursos">
<part name="parameters" element="tns:ProgramasCursos"></part>
</message>
<message name="ProgramasCursosResponse">
<part name="parameters" element="tns:ProgramasCursosResponse"></part>
</message>
<message name="listarCategorias">
<part name="parameters" element="tns:listarCategorias"></part>
</message>
<message name="listarCategoriasResponse">
<part name="parameters" element="tns:listarCategoriasResponse"></part>
</message>
<message name="obtenerCurso">
<part name="parameters" element="tns:obtenerCurso"></part>
</message>
<message name="obtenerCursoResponse">
<part name="parameters" element="tns:obtenerCursoResponse"></part>
</message>
<message name="crearPrograma">
<part name="parameters" element="tns:crearPrograma"></part>
</message>
<message name="crearProgramaResponse">
<part name="parameters" element="tns:crearProgramaResponse"></part>
</message>
<message name="cursosPrograma">
<part name="parameters" element="tns:cursosPrograma"></part>
</message>
<message name="cursosProgramaResponse">
<part name="parameters" element="tns:cursosProgramaResponse"></part>
</message>
<message name="modificarDatosUsuario">
<part name="parameters" element="tns:modificarDatosUsuario"></part>
</message>
<message name="modificarDatosUsuarioResponse">
<part name="parameters" element="tns:modificarDatosUsuarioResponse"></part>
</message>
<message name="obtenerInstitutoCurso">
<part name="parameters" element="tns:obtenerInstitutoCurso"></part>
</message>
<message name="obtenerInstitutoCursoResponse">
<part name="parameters" element="tns:obtenerInstitutoCursoResponse"></part>
</message>
<message name="modificarDatosPrograma">
<part name="parameters" element="tns:modificarDatosPrograma"></part>
</message>
<message name="modificarDatosProgramaResponse">
<part name="parameters" element="tns:modificarDatosProgramaResponse"></part>
</message>
<message name="InscripcionPrograma">
<part name="parameters" element="tns:InscripcionPrograma"></part>
</message>
<message name="InscripcionProgramaResponse">
<part name="parameters" element="tns:InscripcionProgramaResponse"></part>
</message>
<message name="listarNombreProgramas">
<part name="parameters" element="tns:listarNombreProgramas"></part>
</message>
<message name="listarNombreProgramasResponse">
<part name="parameters" element="tns:listarNombreProgramasResponse"></part>
</message>
<message name="agregarCursoPrograma">
<part name="parameters" element="tns:agregarCursoPrograma"></part>
</message>
<message name="agregarCursoProgramaResponse">
<part name="parameters" element="tns:agregarCursoProgramaResponse"></part>
</message>
<message name="ExisteRegistroInscripcionE">
<part name="parameters" element="tns:ExisteRegistroInscripcionE"></part>
</message>
<message name="ExisteRegistroInscripcionEResponse">
<part name="parameters" element="tns:ExisteRegistroInscripcionEResponse"></part>
</message>
<message name="chekuUsuarioEmail">
<part name="parameters" element="tns:chekuUsuarioEmail"></part>
</message>
<message name="chekuUsuarioEmailResponse">
<part name="parameters" element="tns:chekuUsuarioEmailResponse"></part>
</message>
<message name="mostrarProgramasUsuario">
<part name="parameters" element="tns:mostrarProgramasUsuario"></part>
</message>
<message name="mostrarProgramasUsuarioResponse">
<part name="parameters" element="tns:mostrarProgramasUsuarioResponse"></part>
</message>
<message name="crearInscripcionEstudiante">
<part name="parameters" element="tns:crearInscripcionEstudiante"></part>
</message>
<message name="crearInscripcionEstudianteResponse">
<part name="parameters" element="tns:crearInscripcionEstudianteResponse"></part>
</message>
<message name="checkEdicionCurso">
<part name="parameters" element="tns:checkEdicionCurso"></part>
</message>
<message name="checkEdicionCursoResponse">
<part name="parameters" element="tns:checkEdicionCursoResponse"></part>
</message>
<message name="checkincripcionPrograma">
<part name="parameters" element="tns:checkincripcionPrograma"></part>
</message>
<message name="checkincripcionProgramaResponse">
<part name="parameters" element="tns:checkincripcionProgramaResponse"></part>
</message>
<message name="listarCursosCategoria">
<part name="parameters" element="tns:listarCursosCategoria"></part>
</message>
<message name="listarCursosCategoriaResponse">
<part name="parameters" element="tns:listarCursosCategoriaResponse"></part>
</message>
<message name="actualizrEstadoPrograma">
<part name="parameters" element="tns:actualizrEstadoPrograma"></part>
</message>
<message name="actualizrEstadoProgramaResponse">
<part name="parameters" element="tns:actualizrEstadoProgramaResponse"></part>
</message>
<message name="obtenerCalifCurso">
<part name="parameters" element="tns:obtenerCalifCurso"></part>
</message>
<message name="obtenerCalifCursoResponse">
<part name="parameters" element="tns:obtenerCalifCursoResponse"></part>
</message>
<message name="mostrarEdicionFULL">
<part name="parameters" element="tns:mostrarEdicionFULL"></part>
</message>
<message name="mostrarEdicionFULLResponse">
<part name="parameters" element="tns:mostrarEdicionFULLResponse"></part>
</message>
<message name="responderComentario">
<part name="parameters" element="tns:responderComentario"></part>
</message>
<message name="responderComentarioResponse">
<part name="parameters" element="tns:responderComentarioResponse"></part>
</message>
<message name="listarDocentesInstituto">
<part name="parameters" element="tns:listarDocentesInstituto"></part>
</message>
<message name="listarDocentesInstitutoResponse">
<part name="parameters" element="tns:listarDocentesInstitutoResponse"></part>
</message>
<message name="listarDatosInscEdicion">
<part name="parameters" element="tns:listarDatosInscEdicion"></part>
</message>
<message name="listarDatosInscEdicionResponse">
<part name="parameters" element="tns:listarDatosInscEdicionResponse"></part>
</message>
<message name="categoriasProgramas">
<part name="parameters" element="tns:categoriasProgramas"></part>
</message>
<message name="categoriasProgramasResponse">
<part name="parameters" element="tns:categoriasProgramasResponse"></part>
</message>
<message name="obtenerCursoDeEdicion">
<part name="parameters" element="tns:obtenerCursoDeEdicion"></part>
</message>
<message name="obtenerCursoDeEdicionResponse">
<part name="parameters" element="tns:obtenerCursoDeEdicionResponse"></part>
</message>
<message name="obtenerUsuarioMail">
<part name="parameters" element="tns:obtenerUsuarioMail"></part>
</message>
<message name="obtenerUsuarioMailResponse">
<part name="parameters" element="tns:obtenerUsuarioMailResponse"></part>
</message>
<message name="datosInscripEstProg">
<part name="parameters" element="tns:datosInscripEstProg"></part>
</message>
<message name="datosInscripEstProgResponse">
<part name="parameters" element="tns:datosInscripEstProgResponse"></part>
</message>
<message name="listarDocentesEdicion">
<part name="parameters" element="tns:listarDocentesEdicion"></part>
</message>
<message name="listarDocentesEdicionResponse">
<part name="parameters" element="tns:listarDocentesEdicionResponse"></part>
</message>
<message name="modificarEstadoInscripcion">
<part name="parameters" element="tns:modificarEstadoInscripcion"></part>
</message>
<message name="modificarEstadoInscripcionResponse">
<part name="parameters" element="tns:modificarEstadoInscripcionResponse"></part>
</message>
<message name="checkValoracionEst">
<part name="parameters" element="tns:checkValoracionEst"></part>
</message>
<message name="checkValoracionEstResponse">
<part name="parameters" element="tns:checkValoracionEstResponse"></part>
</message>
<message name="datosInscripEstudiante">
<part name="parameters" element="tns:datosInscripEstudiante"></part>
</message>
<message name="datosInscripEstudianteResponse">
<part name="parameters" element="tns:datosInscripEstudianteResponse"></part>
</message>
<message name="obtenerEstadoProg">
<part name="parameters" element="tns:obtenerEstadoProg"></part>
</message>
<message name="obtenerEstadoProgResponse">
<part name="parameters" element="tns:obtenerEstadoProgResponse"></part>
</message>
<message name="cambiarEstadoEdicion">
<part name="parameters" element="tns:cambiarEstadoEdicion"></part>
</message>
<message name="cambiarEstadoEdicionResponse">
<part name="parameters" element="tns:cambiarEstadoEdicionResponse"></part>
</message>
<message name="obtenerComentariosEdicion">
<part name="parameters" element="tns:obtenerComentariosEdicion"></part>
</message>
<message name="obtenerComentariosEdicionResponse">
<part name="parameters" element="tns:obtenerComentariosEdicionResponse"></part>
</message>
<message name="ProgramasCurso">
<part name="parameters" element="tns:ProgramasCurso"></part>
</message>
<message name="ProgramasCursoResponse">
<part name="parameters" element="tns:ProgramasCursoResponse"></part>
</message>
<message name="datosCursos">
<part name="parameters" element="tns:datosCursos"></part>
</message>
<message name="datosCursosResponse">
<part name="parameters" element="tns:datosCursosResponse"></part>
</message>
<message name="DTCursosPrograma">
<part name="parameters" element="tns:DTCursosPrograma"></part>
</message>
<message name="DTCursosProgramaResponse">
<part name="parameters" element="tns:DTCursosProgramaResponse"></part>
</message>
<message name="visitasCurso">
<part name="parameters" element="tns:visitasCurso"></part>
</message>
<message name="visitasCursoResponse">
<part name="parameters" element="tns:visitasCursoResponse"></part>
</message>
<message name="rankingCursos">
<part name="parameters" element="tns:rankingCursos"></part>
</message>
<message name="rankingCursosResponse">
<part name="parameters" element="tns:rankingCursosResponse"></part>
</message>
<message name="cambiarNota">
<part name="parameters" element="tns:cambiarNota"></part>
</message>
<message name="cambiarNotaResponse">
<part name="parameters" element="tns:cambiarNotaResponse"></part>
</message>
<message name="altausuario">
<part name="parameters" element="tns:altausuario"></part>
</message>
<message name="altausuarioResponse">
<part name="parameters" element="tns:altausuarioResponse"></part>
</message>
<message name="datosProgramas">
<part name="parameters" element="tns:datosProgramas"></part>
</message>
<message name="datosProgramasResponse">
<part name="parameters" element="tns:datosProgramasResponse"></part>
</message>
<message name="esDocente">
<part name="parameters" element="tns:esDocente"></part>
</message>
<message name="esDocenteResponse">
<part name="parameters" element="tns:esDocenteResponse"></part>
</message>
<message name="edicionesDocente">
<part name="parameters" element="tns:edicionesDocente"></part>
</message>
<message name="edicionesDocenteResponse">
<part name="parameters" element="tns:edicionesDocenteResponse"></part>
</message>
<message name="calificarCurso">
<part name="parameters" element="tns:calificarCurso"></part>
</message>
<message name="calificarCursoResponse">
<part name="parameters" element="tns:calificarCursoResponse"></part>
</message>
<message name="datosEdiciones">
<part name="parameters" element="tns:datosEdiciones"></part>
</message>
<message name="datosEdicionesResponse">
<part name="parameters" element="tns:datosEdicionesResponse"></part>
</message>
<message name="checkEdicion">
<part name="parameters" element="tns:checkEdicion"></part>
</message>
<message name="checkEdicionResponse">
<part name="parameters" element="tns:checkEdicionResponse"></part>
</message>
<message name="cursosEstudiante">
<part name="parameters" element="tns:cursosEstudiante"></part>
</message>
<message name="cursosEstudianteResponse">
<part name="parameters" element="tns:cursosEstudianteResponse"></part>
</message>
<message name="comentarEdicion">
<part name="parameters" element="tns:comentarEdicion"></part>
</message>
<message name="comentarEdicionResponse">
<part name="parameters" element="tns:comentarEdicionResponse"></part>
</message>
<message name="notaEstCurso">
<part name="parameters" element="tns:notaEstCurso"></part>
</message>
<message name="notaEstCursoResponse">
<part name="parameters" element="tns:notaEstCursoResponse"></part>
</message>
<message name="mostrarCursos">
<part name="parameters" element="tns:mostrarCursos"></part>
</message>
<message name="mostrarCursosResponse">
<part name="parameters" element="tns:mostrarCursosResponse"></part>
</message>
<message name="consultaUsuarios">
<part name="parameters" element="tns:consultaUsuarios"></part>
</message>
<message name="consultaUsuariosResponse">
<part name="parameters" element="tns:consultaUsuariosResponse"></part>
</message>
<message name="checkPrevias">
<part name="parameters" element="tns:checkPrevias"></part>
</message>
<message name="checkPreviasResponse">
<part name="parameters" element="tns:checkPreviasResponse"></part>
</message>
<portType name="Publicador">
<operation name="listarInstitutos">
<input wsam:Action="http://PRESENTACION/Publicador/listarInstitutosRequest" message="tns:listarInstitutos"></input>
<output wsam:Action="http://PRESENTACION/Publicador/listarInstitutosResponse" message="tns:listarInstitutosResponse"></output>
</operation>
<operation name="cursosInstituto">
<input wsam:Action="http://PRESENTACION/Publicador/cursosInstitutoRequest" message="tns:cursosInstituto"></input>
<output wsam:Action="http://PRESENTACION/Publicador/cursosInstitutoResponse" message="tns:cursosInstitutoResponse"></output>
</operation>
<operation name="EdicionesCurso">
<input wsam:Action="http://PRESENTACION/Publicador/EdicionesCursoRequest" message="tns:EdicionesCurso"></input>
<output wsam:Action="http://PRESENTACION/Publicador/EdicionesCursoResponse" message="tns:EdicionesCursoResponse"></output>
</operation>
<operation name="registrarCurso">
<input wsam:Action="http://PRESENTACION/Publicador/registrarCursoRequest" message="tns:registrarCurso"></input>
<output wsam:Action="http://PRESENTACION/Publicador/registrarCursoResponse" message="tns:registrarCursoResponse"></output>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://PRESENTACION/Publicador/registrarCurso/Fault/ParseException"></fault>
</operation>
<operation name="obtenerUsuario">
<input wsam:Action="http://PRESENTACION/Publicador/obtenerUsuarioRequest" message="tns:obtenerUsuario"></input>
<output wsam:Action="http://PRESENTACION/Publicador/obtenerUsuarioResponse" message="tns:obtenerUsuarioResponse"></output>
</operation>
<operation name="chekusuario">
<input wsam:Action="http://PRESENTACION/Publicador/chekusuarioRequest" message="tns:chekusuario"></input>
<output wsam:Action="http://PRESENTACION/Publicador/chekusuarioResponse" message="tns:chekusuarioResponse"></output>
</operation>
<operation name="obtenerPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/obtenerProgramaRequest" message="tns:obtenerPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/obtenerProgramaResponse" message="tns:obtenerProgramaResponse"></output>
</operation>
<operation name="checkCurso">
<input wsam:Action="http://PRESENTACION/Publicador/checkCursoRequest" message="tns:checkCurso"></input>
<output wsam:Action="http://PRESENTACION/Publicador/checkCursoResponse" message="tns:checkCursoResponse"></output>
</operation>
<operation name="altaEdicionCurso">
<input wsam:Action="http://PRESENTACION/Publicador/altaEdicionCursoRequest" message="tns:altaEdicionCurso"></input>
<output wsam:Action="http://PRESENTACION/Publicador/altaEdicionCursoResponse" message="tns:altaEdicionCursoResponse"></output>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://PRESENTACION/Publicador/altaEdicionCurso/Fault/ParseException"></fault>
</operation>
<operation name="cursoEdicion">
<input wsam:Action="http://PRESENTACION/Publicador/cursoEdicionRequest" message="tns:cursoEdicion"></input>
<output wsam:Action="http://PRESENTACION/Publicador/cursoEdicionResponse" message="tns:cursoEdicionResponse"></output>
</operation>
<operation name="checkPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/checkProgramaRequest" message="tns:checkPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/checkProgramaResponse" message="tns:checkProgramaResponse"></output>
</operation>
<operation name="altaInstituto">
<input wsam:Action="http://PRESENTACION/Publicador/altaInstitutoRequest" message="tns:altaInstituto"></input>
<output wsam:Action="http://PRESENTACION/Publicador/altaInstitutoResponse" message="tns:altaInstitutoResponse"></output>
</operation>
<operation name="ProgramasCursos">
<input wsam:Action="http://PRESENTACION/Publicador/ProgramasCursosRequest" message="tns:ProgramasCursos"></input>
<output wsam:Action="http://PRESENTACION/Publicador/ProgramasCursosResponse" message="tns:ProgramasCursosResponse"></output>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://PRESENTACION/Publicador/listarCategoriasRequest" message="tns:listarCategorias"></input>
<output wsam:Action="http://PRESENTACION/Publicador/listarCategoriasResponse" message="tns:listarCategoriasResponse"></output>
</operation>
<operation name="obtenerCurso">
<input wsam:Action="http://PRESENTACION/Publicador/obtenerCursoRequest" message="tns:obtenerCurso"></input>
<output wsam:Action="http://PRESENTACION/Publicador/obtenerCursoResponse" message="tns:obtenerCursoResponse"></output>
</operation>
<operation name="crearPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/crearProgramaRequest" message="tns:crearPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/crearProgramaResponse" message="tns:crearProgramaResponse"></output>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://PRESENTACION/Publicador/crearPrograma/Fault/ParseException"></fault>
</operation>
<operation name="cursosPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/cursosProgramaRequest" message="tns:cursosPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/cursosProgramaResponse" message="tns:cursosProgramaResponse"></output>
</operation>
<operation name="modificarDatosUsuario">
<input wsam:Action="http://PRESENTACION/Publicador/modificarDatosUsuarioRequest" message="tns:modificarDatosUsuario"></input>
<output wsam:Action="http://PRESENTACION/Publicador/modificarDatosUsuarioResponse" message="tns:modificarDatosUsuarioResponse"></output>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://PRESENTACION/Publicador/modificarDatosUsuario/Fault/ParseException"></fault>
</operation>
<operation name="obtenerInstitutoCurso">
<input wsam:Action="http://PRESENTACION/Publicador/obtenerInstitutoCursoRequest" message="tns:obtenerInstitutoCurso"></input>
<output wsam:Action="http://PRESENTACION/Publicador/obtenerInstitutoCursoResponse" message="tns:obtenerInstitutoCursoResponse"></output>
</operation>
<operation name="modificarDatosPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/modificarDatosProgramaRequest" message="tns:modificarDatosPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/modificarDatosProgramaResponse" message="tns:modificarDatosProgramaResponse"></output>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://PRESENTACION/Publicador/modificarDatosPrograma/Fault/ParseException"></fault>
</operation>
<operation name="InscripcionPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/InscripcionProgramaRequest" message="tns:InscripcionPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/InscripcionProgramaResponse" message="tns:InscripcionProgramaResponse"></output>
</operation>
<operation name="listarNombreProgramas">
<input wsam:Action="http://PRESENTACION/Publicador/listarNombreProgramasRequest" message="tns:listarNombreProgramas"></input>
<output wsam:Action="http://PRESENTACION/Publicador/listarNombreProgramasResponse" message="tns:listarNombreProgramasResponse"></output>
</operation>
<operation name="agregarCursoPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/agregarCursoProgramaRequest" message="tns:agregarCursoPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/agregarCursoProgramaResponse" message="tns:agregarCursoProgramaResponse"></output>
</operation>
<operation name="ExisteRegistroInscripcionE">
<input wsam:Action="http://PRESENTACION/Publicador/ExisteRegistroInscripcionERequest" message="tns:ExisteRegistroInscripcionE"></input>
<output wsam:Action="http://PRESENTACION/Publicador/ExisteRegistroInscripcionEResponse" message="tns:ExisteRegistroInscripcionEResponse"></output>
</operation>
<operation name="chekuUsuarioEmail">
<input wsam:Action="http://PRESENTACION/Publicador/chekuUsuarioEmailRequest" message="tns:chekuUsuarioEmail"></input>
<output wsam:Action="http://PRESENTACION/Publicador/chekuUsuarioEmailResponse" message="tns:chekuUsuarioEmailResponse"></output>
</operation>
<operation name="mostrarProgramasUsuario">
<input wsam:Action="http://PRESENTACION/Publicador/mostrarProgramasUsuarioRequest" message="tns:mostrarProgramasUsuario"></input>
<output wsam:Action="http://PRESENTACION/Publicador/mostrarProgramasUsuarioResponse" message="tns:mostrarProgramasUsuarioResponse"></output>
</operation>
<operation name="crearInscripcionEstudiante">
<input wsam:Action="http://PRESENTACION/Publicador/crearInscripcionEstudianteRequest" message="tns:crearInscripcionEstudiante"></input>
<output wsam:Action="http://PRESENTACION/Publicador/crearInscripcionEstudianteResponse" message="tns:crearInscripcionEstudianteResponse"></output>
</operation>
<operation name="checkEdicionCurso">
<input wsam:Action="http://PRESENTACION/Publicador/checkEdicionCursoRequest" message="tns:checkEdicionCurso"></input>
<output wsam:Action="http://PRESENTACION/Publicador/checkEdicionCursoResponse" message="tns:checkEdicionCursoResponse"></output>
</operation>
<operation name="checkincripcionPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/checkincripcionProgramaRequest" message="tns:checkincripcionPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/checkincripcionProgramaResponse" message="tns:checkincripcionProgramaResponse"></output>
</operation>
<operation name="listarCursosCategoria">
<input wsam:Action="http://PRESENTACION/Publicador/listarCursosCategoriaRequest" message="tns:listarCursosCategoria"></input>
<output wsam:Action="http://PRESENTACION/Publicador/listarCursosCategoriaResponse" message="tns:listarCursosCategoriaResponse"></output>
</operation>
<operation name="actualizrEstadoPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/actualizrEstadoProgramaRequest" message="tns:actualizrEstadoPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/actualizrEstadoProgramaResponse" message="tns:actualizrEstadoProgramaResponse"></output>
</operation>
<operation name="obtenerCalifCurso">
<input wsam:Action="http://PRESENTACION/Publicador/obtenerCalifCursoRequest" message="tns:obtenerCalifCurso"></input>
<output wsam:Action="http://PRESENTACION/Publicador/obtenerCalifCursoResponse" message="tns:obtenerCalifCursoResponse"></output>
</operation>
<operation name="mostrarEdicionFULL">
<input wsam:Action="http://PRESENTACION/Publicador/mostrarEdicionFULLRequest" message="tns:mostrarEdicionFULL"></input>
<output wsam:Action="http://PRESENTACION/Publicador/mostrarEdicionFULLResponse" message="tns:mostrarEdicionFULLResponse"></output>
</operation>
<operation name="responderComentario">
<input wsam:Action="http://PRESENTACION/Publicador/responderComentarioRequest" message="tns:responderComentario"></input>
<output wsam:Action="http://PRESENTACION/Publicador/responderComentarioResponse" message="tns:responderComentarioResponse"></output>
</operation>
<operation name="listarDocentesInstituto">
<input wsam:Action="http://PRESENTACION/Publicador/listarDocentesInstitutoRequest" message="tns:listarDocentesInstituto"></input>
<output wsam:Action="http://PRESENTACION/Publicador/listarDocentesInstitutoResponse" message="tns:listarDocentesInstitutoResponse"></output>
</operation>
<operation name="listarDatosInscEdicion">
<input wsam:Action="http://PRESENTACION/Publicador/listarDatosInscEdicionRequest" message="tns:listarDatosInscEdicion"></input>
<output wsam:Action="http://PRESENTACION/Publicador/listarDatosInscEdicionResponse" message="tns:listarDatosInscEdicionResponse"></output>
</operation>
<operation name="categoriasProgramas">
<input wsam:Action="http://PRESENTACION/Publicador/categoriasProgramasRequest" message="tns:categoriasProgramas"></input>
<output wsam:Action="http://PRESENTACION/Publicador/categoriasProgramasResponse" message="tns:categoriasProgramasResponse"></output>
</operation>
<operation name="obtenerCursoDeEdicion">
<input wsam:Action="http://PRESENTACION/Publicador/obtenerCursoDeEdicionRequest" message="tns:obtenerCursoDeEdicion"></input>
<output wsam:Action="http://PRESENTACION/Publicador/obtenerCursoDeEdicionResponse" message="tns:obtenerCursoDeEdicionResponse"></output>
</operation>
<operation name="obtenerUsuarioMail">
<input wsam:Action="http://PRESENTACION/Publicador/obtenerUsuarioMailRequest" message="tns:obtenerUsuarioMail"></input>
<output wsam:Action="http://PRESENTACION/Publicador/obtenerUsuarioMailResponse" message="tns:obtenerUsuarioMailResponse"></output>
</operation>
<operation name="datosInscripEstProg">
<input wsam:Action="http://PRESENTACION/Publicador/datosInscripEstProgRequest" message="tns:datosInscripEstProg"></input>
<output wsam:Action="http://PRESENTACION/Publicador/datosInscripEstProgResponse" message="tns:datosInscripEstProgResponse"></output>
</operation>
<operation name="listarDocentesEdicion">
<input wsam:Action="http://PRESENTACION/Publicador/listarDocentesEdicionRequest" message="tns:listarDocentesEdicion"></input>
<output wsam:Action="http://PRESENTACION/Publicador/listarDocentesEdicionResponse" message="tns:listarDocentesEdicionResponse"></output>
</operation>
<operation name="modificarEstadoInscripcion">
<input wsam:Action="http://PRESENTACION/Publicador/modificarEstadoInscripcionRequest" message="tns:modificarEstadoInscripcion"></input>
<output wsam:Action="http://PRESENTACION/Publicador/modificarEstadoInscripcionResponse" message="tns:modificarEstadoInscripcionResponse"></output>
</operation>
<operation name="checkValoracionEst">
<input wsam:Action="http://PRESENTACION/Publicador/checkValoracionEstRequest" message="tns:checkValoracionEst"></input>
<output wsam:Action="http://PRESENTACION/Publicador/checkValoracionEstResponse" message="tns:checkValoracionEstResponse"></output>
</operation>
<operation name="datosInscripEstudiante">
<input wsam:Action="http://PRESENTACION/Publicador/datosInscripEstudianteRequest" message="tns:datosInscripEstudiante"></input>
<output wsam:Action="http://PRESENTACION/Publicador/datosInscripEstudianteResponse" message="tns:datosInscripEstudianteResponse"></output>
</operation>
<operation name="obtenerEstadoProg">
<input wsam:Action="http://PRESENTACION/Publicador/obtenerEstadoProgRequest" message="tns:obtenerEstadoProg"></input>
<output wsam:Action="http://PRESENTACION/Publicador/obtenerEstadoProgResponse" message="tns:obtenerEstadoProgResponse"></output>
</operation>
<operation name="cambiarEstadoEdicion">
<input wsam:Action="http://PRESENTACION/Publicador/cambiarEstadoEdicionRequest" message="tns:cambiarEstadoEdicion"></input>
<output wsam:Action="http://PRESENTACION/Publicador/cambiarEstadoEdicionResponse" message="tns:cambiarEstadoEdicionResponse"></output>
</operation>
<operation name="obtenerComentariosEdicion">
<input wsam:Action="http://PRESENTACION/Publicador/obtenerComentariosEdicionRequest" message="tns:obtenerComentariosEdicion"></input>
<output wsam:Action="http://PRESENTACION/Publicador/obtenerComentariosEdicionResponse" message="tns:obtenerComentariosEdicionResponse"></output>
</operation>
<operation name="ProgramasCurso">
<input wsam:Action="http://PRESENTACION/Publicador/ProgramasCursoRequest" message="tns:ProgramasCurso"></input>
<output wsam:Action="http://PRESENTACION/Publicador/ProgramasCursoResponse" message="tns:ProgramasCursoResponse"></output>
</operation>
<operation name="datosCursos">
<input wsam:Action="http://PRESENTACION/Publicador/datosCursosRequest" message="tns:datosCursos"></input>
<output wsam:Action="http://PRESENTACION/Publicador/datosCursosResponse" message="tns:datosCursosResponse"></output>
</operation>
<operation name="DTCursosPrograma">
<input wsam:Action="http://PRESENTACION/Publicador/DTCursosProgramaRequest" message="tns:DTCursosPrograma"></input>
<output wsam:Action="http://PRESENTACION/Publicador/DTCursosProgramaResponse" message="tns:DTCursosProgramaResponse"></output>
</operation>
<operation name="visitasCurso">
<input wsam:Action="http://PRESENTACION/Publicador/visitasCursoRequest" message="tns:visitasCurso"></input>
<output wsam:Action="http://PRESENTACION/Publicador/visitasCursoResponse" message="tns:visitasCursoResponse"></output>
</operation>
<operation name="rankingCursos">
<input wsam:Action="http://PRESENTACION/Publicador/rankingCursosRequest" message="tns:rankingCursos"></input>
<output wsam:Action="http://PRESENTACION/Publicador/rankingCursosResponse" message="tns:rankingCursosResponse"></output>
</operation>
<operation name="cambiarNota">
<input wsam:Action="http://PRESENTACION/Publicador/cambiarNotaRequest" message="tns:cambiarNota"></input>
<output wsam:Action="http://PRESENTACION/Publicador/cambiarNotaResponse" message="tns:cambiarNotaResponse"></output>
</operation>
<operation name="altausuario">
<input wsam:Action="http://PRESENTACION/Publicador/altausuarioRequest" message="tns:altausuario"></input>
<output wsam:Action="http://PRESENTACION/Publicador/altausuarioResponse" message="tns:altausuarioResponse"></output>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://PRESENTACION/Publicador/altausuario/Fault/ParseException"></fault>
</operation>
<operation name="datosProgramas">
<input wsam:Action="http://PRESENTACION/Publicador/datosProgramasRequest" message="tns:datosProgramas"></input>
<output wsam:Action="http://PRESENTACION/Publicador/datosProgramasResponse" message="tns:datosProgramasResponse"></output>
</operation>
<operation name="esDocente">
<input wsam:Action="http://PRESENTACION/Publicador/esDocenteRequest" message="tns:esDocente"></input>
<output wsam:Action="http://PRESENTACION/Publicador/esDocenteResponse" message="tns:esDocenteResponse"></output>
</operation>
<operation name="edicionesDocente">
<input wsam:Action="http://PRESENTACION/Publicador/edicionesDocenteRequest" message="tns:edicionesDocente"></input>
<output wsam:Action="http://PRESENTACION/Publicador/edicionesDocenteResponse" message="tns:edicionesDocenteResponse"></output>
</operation>
<operation name="calificarCurso">
<input wsam:Action="http://PRESENTACION/Publicador/calificarCursoRequest" message="tns:calificarCurso"></input>
<output wsam:Action="http://PRESENTACION/Publicador/calificarCursoResponse" message="tns:calificarCursoResponse"></output>
</operation>
<operation name="datosEdiciones">
<input wsam:Action="http://PRESENTACION/Publicador/datosEdicionesRequest" message="tns:datosEdiciones"></input>
<output wsam:Action="http://PRESENTACION/Publicador/datosEdicionesResponse" message="tns:datosEdicionesResponse"></output>
</operation>
<operation name="checkEdicion">
<input wsam:Action="http://PRESENTACION/Publicador/checkEdicionRequest" message="tns:checkEdicion"></input>
<output wsam:Action="http://PRESENTACION/Publicador/checkEdicionResponse" message="tns:checkEdicionResponse"></output>
</operation>
<operation name="cursosEstudiante">
<input wsam:Action="http://PRESENTACION/Publicador/cursosEstudianteRequest" message="tns:cursosEstudiante"></input>
<output wsam:Action="http://PRESENTACION/Publicador/cursosEstudianteResponse" message="tns:cursosEstudianteResponse"></output>
</operation>
<operation name="comentarEdicion">
<input wsam:Action="http://PRESENTACION/Publicador/comentarEdicionRequest" message="tns:comentarEdicion"></input>
<output wsam:Action="http://PRESENTACION/Publicador/comentarEdicionResponse" message="tns:comentarEdicionResponse"></output>
</operation>
<operation name="notaEstCurso">
<input wsam:Action="http://PRESENTACION/Publicador/notaEstCursoRequest" message="tns:notaEstCurso"></input>
<output wsam:Action="http://PRESENTACION/Publicador/notaEstCursoResponse" message="tns:notaEstCursoResponse"></output>
</operation>
<operation name="mostrarCursos">
<input wsam:Action="http://PRESENTACION/Publicador/mostrarCursosRequest" message="tns:mostrarCursos"></input>
<output wsam:Action="http://PRESENTACION/Publicador/mostrarCursosResponse" message="tns:mostrarCursosResponse"></output>
</operation>
<operation name="consultaUsuarios">
<input wsam:Action="http://PRESENTACION/Publicador/consultaUsuariosRequest" message="tns:consultaUsuarios"></input>
<output wsam:Action="http://PRESENTACION/Publicador/consultaUsuariosResponse" message="tns:consultaUsuariosResponse"></output>
</operation>
<operation name="checkPrevias">
<input wsam:Action="http://PRESENTACION/Publicador/checkPreviasRequest" message="tns:checkPrevias"></input>
<output wsam:Action="http://PRESENTACION/Publicador/checkPreviasResponse" message="tns:checkPreviasResponse"></output>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="listarInstitutos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cursosInstituto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="EdicionesCurso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registrarCurso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="chekusuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkCurso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="altaEdicionCurso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="cursoEdicion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="altaInstituto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ProgramasCursos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerCurso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="crearPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="cursosPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="modificarDatosUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerInstitutoCurso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="modificarDatosPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="InscripcionPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarNombreProgramas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="agregarCursoPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ExisteRegistroInscripcionE">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="chekuUsuarioEmail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="mostrarProgramasUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="crearInscripcionEstudiante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkEdicionCurso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkincripcionPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarCursosCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="actualizrEstadoPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerCalifCurso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="mostrarEdicionFULL">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="responderComentario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarDocentesInstituto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarDatosInscEdicion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="categoriasProgramas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerCursoDeEdicion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerUsuarioMail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="datosInscripEstProg">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarDocentesEdicion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="modificarEstadoInscripcion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkValoracionEst">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="datosInscripEstudiante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerEstadoProg">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cambiarEstadoEdicion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerComentariosEdicion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ProgramasCurso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="datosCursos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="DTCursosPrograma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="visitasCurso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="rankingCursos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cambiarNota">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="altausuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="datosProgramas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="esDocente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="edicionesDocente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="calificarCurso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="datosEdiciones">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkEdicion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cursosEstudiante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="comentarEdicion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="notaEstCurso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="mostrarCursos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="consultaUsuarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkPrevias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorService">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://localhost:9128/publicador"></soap:address>
</port>
</service>
</definitions>